<!DOCTYPE html>
<html xmlns:tal="http://xml.zope.org/namespaces/tal">

<link rel="stylesheet" href="/parrots-styling.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<style>
    html {background-color: ${sBackgroundColor};}
    body {color: ${sColor};}
</style>

<section>
    <h1>
        <span class="prefix" tal:content="sPrefix">Je bent zelf een</span>
        <span class="subject" tal:condition="sSubject" tal:content="sSubject">.nl</span>
    </h1>

    <form tal:condition="not: sSubject" action="./" method="GET" id="JS_subject-form">
        <input type="text" name="subject" autocomplete="off" autocorrect="off" autocapitalize="none" />
        <button type="submit">&#10148;</button>
    </form>
</section>

<aside class="colofon">
    <span class="logo"></span>
    <dl class="list">
        <dt class="object">Author</dt>
            <dd class="subject"><a href="http://pother.ca/">Potherca</a></dd>
        <dt class="object">Source code</dt>
            <dd class="subject"><a href="https://github.com/potherca/parrots">on Github</a></dd>
        <dt class="object">License</dt>
            <dd class="subject"><a href="https://github.com/potherca/Parrots/blob/develop/LICENSE">GPL-3.0+</a></dd>
        <dt class="object">Concept</dt>
            <dd class="subject"><a href="https://www.facebook.com/floortjevanopijnen">Floor van Opijnen</a></dd>
            <dd class="subject"><a href="https://twitter.com/wittkampf">Mark Wittkampf</a></dd>
        <dt class="object">Logo</dt>
            <dd class="subject"><a href="http://thenounproject.com/michela.tannoia/">Michela Tannoia</a></dd>
    </dl>
</aside>

<script src="/parrots-functionality.js"></script>

</html>

