<!DOCTYPE html>
<html xmlns:tal="http://xml.zope.org/namespaces/tal">

<link rel="stylesheet" href="/parrots-styling.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<style>
    html {background-color: ${sBackgroundColor};}
    body {color: ${sColor};}
</style>

<section>
    <h1>
        <span class="prefix" tal:content="sPrefix">Je bent zelf een</span>
        <span class="subject" tal:condition="sSubject" tal:content="sSubject">.nl</span>
    </h1>

    <form tal:condition="not: sSubject" action="./" method="GET" id="JS_subject-form">
        <input type="text" name="subject" autocomplete="off" autocorrect="off" autocapitalize="none" />
        <button type="submit">&#10148;</button>
    </form>
</section>

</html>

