html, body {
    position: relative;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

section {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 25%;
}

h1, form {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 6em;
}

h1,
form button[type="submit"],
form input[name="subject"] {
    font-size: 6vw;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    line-height: 0;
    display: table;
    margin: 0 auto;
}

form button[type="submit"],
form input[name="subject"] {
    background-color: white;
    border: 0;
    border-bottom: 0.05em solid white;
    color: black;
    display: table-cell;
    outline: none;
    vertical-align: top;
}

form input[name="subject"] {
    height: 100%;
    padding-right: 1em;
    text-indent: 1em;
    width: 60vw;
}

form:hover button[type="submit"],
form:hover input[name="subject"],
form button[type="submit"]:focus,
form input[name="subject"]:focus {
    border-color: black;
}

form button[type="submit"] {
    cursor: pointer;
    height: 8vw;
    width: 8vw;
}

.subject {
    word-wrap: break-word;
}


.colofon, .colofon a {
    color: yellow;
    background-color: black;
}

.colofon {
    border: 1px solid;
    bottom: 1em;
    font-family: arial, helvetica, sans-serif;
    font-size: 0.65em;
    font-weight: bold;
    height: 8.75em;
    margin: 0;
    padding: 0 1em 0 0;
    position: absolute;
    right: -22.6em;
    transition: all 1.35s;
    width: 18em;
}

.colofon:hover {
    right: 0;
}


.colofon a {
    text-decoration: none;
}

.colofon a:hover {
    text-shadow: 0 0 0.3em yellow, 0 0 0.3em yellow, 0 0 0.3em yellow;
}

.colofon .logo {
    background: url(./parrots-logo.svg) no-repeat center;
    background-size: contain;
    border: 1px solid yellow;
    border-radius: 100%;
    display: block;
    height: 100%;
    left: -8em;
    position: absolute;
    width: 8em;
}

.colofon .logo:before {
    background-image:radial-gradient(circle at 50%, transparent 65%, black 0);
    border: 1px solid yellow;
    border-bottom-left-radius: 50%;
    border-right-color: black;
    border-top-left-radius: 50%;
    content:"\00a0";
    display: block;
    height: 100%;
    position: absolute;
    top: -2px;
    width: 100%;
}

.colofon .list {
    width: 90%;
    float: right;
}

.colofon .object {
    float: left;
    clear: both;
    opacity: 0.5;
}
.colofon:hover .object {
    opacity: 0.75;
}

.colofon .subject {
    margin: 0;
    float: right;
    clear: right;
}

.emoji {
    height: 1em;
    height: 6vw;
    vertical-align: middle;
}
/*EOF*/
